{% extends 'base.html' %}
{% load static %}
{% block title %}Nova Quiz{% endblock %}
{% block content %}


 <form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
<fieldset class="fieldset_quiz_aula">
  <legend>RESPONDA O QUIZ PARA CONCLUIR ESTA AULA</legend>

  {% for pergunta in perguntas %}
  <!-- <div class=""> -->
  	<h4>{{pergunta.pergunta}}</h4>
 	<input type="radio" name="resposta{{ forloop.counter }}" value="True" checked="true">Verdadeiro
 	<input type="radio" name="resposta{{ forloop.counter }}" value="False" >Falso
  <!-- </div> -->

{% endfor %}
 
</fieldset>

<input type="submit" value="CONCLUIR AULA" class="botoes_form_cadastro"/>
</form>


{% endblock %}
