{% extends 'base.html' %}

{% block title %}Ajuda{% endblock %}
{% block content %}
<h2>RECURSOS DE AJUDA</h2>
O SITE É MUITO FÁCIL DE USAR, NÃO PRECISA DE AJUDA
<br>
<br>
ZOAS.
<br>
<br>AQUI VAI TER QUE VER SE VAI TER TAMBÉM CONTROLE DE ACESSOS EM QUE A AJUDA PRO ALUNO É UM E PRA ADMs É OUTRA.
<br>
<br>Qualquer coisa pra usuário aluno coloca um vídeo de autoajuda da tela do sistema ensinado por nós
e pra ADMs outro vídeo, além da ajuda escrita nos dois.
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>espaço
<br>Eh isto ai!
{% endblock %}
