{% extends 'base.html' %}

{% block title %}Consultas{% endblock %}
{% block content %}
<fieldset class="fieldset_templates">
  <legend> Consultas </legend>

  <strong> Selecione o conteúdo desejado </strong>
  <form method="GET">
  <select name='consulta'>
    <optgroup label ="Listar as"> </optgroup>
      <option value = "aulas" > Aulas </option>
      <option value = "noticias" > Notícias </option>
      <option value="cursos">Cursos</option>     

  </select>
  <button style="vertical-align: middle;" type="submit"><i class="material-icons">search</i></button>
</form>
  <br>

 
  
  {% if aulas %}

<table>
  <tr>
  <th>Nome</th>
  <th>Descrição</th>
  <th>Curso</th>
  </tr>

    {% for aula in aulas %}
      <tr>
        
        <td><a href="{% url 'aulas:aula' pk=aula.pk %}">{{aula.titulo}}</a></td> 
        <td>{{aula.resumo}}</td>
        <td>{{aula.curso.nome}}</td>
     
      </tr>

    {% endfor %}
    </table>
  {% endif %}

  {% if noticias %}

<table>
  <tr>
  <th>Título</th>
  <th>Subtítulo</th>
  <th>Resumo</th>
  </tr>

    {% for noticia in noticias %}
      <tr>
        
        <td><a href="{% url 'noticias:lerNoticia' pk=noticia.pk %}">{{noticia.titulo}}</a></td> 
        <td>{{noticia.subtitulo}}</td>
        <td>{{noticia.resumo}}</td>
     
      </tr>

    {% endfor %}
    </table>
  {% endif %}

   {% if cursos %}

<table>
  <tr>
  <th>Nome</th>
  <th>Descrição</th>

  </tr>

    {% for curso in cursos %}
      <tr>
        
        <td><a href="{% url 'aulas:cursoAula' pk=curso.pk %}">{{curso.nome}}</a></td> 
        <td>{{curso.descrição}}</td>
     
      </tr>

    {% endfor %}
    </table>
  {% endif %}


</fieldset>
{% endblock %}
