<!DOCTYPE html>
{% load static %}
<html lang = "pt-br">
<head>
  <meta charset = "UTF-8" />
  <meta name = "description" content = "Projeto de Extensão de Análise e Desenvolvimento de Sistemas e Alimentos." />
  <meta name = "keywords" content = "" />
  <meta name = "author" content = "Fernando Witt, John Marcos & Rojiê Lima" />
  <meta name = "robots" content = "index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel = "icon" href = "{% static '#' %}"/>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="../"><i class="material-icons">home</i> Início</a></li>
      <li class="dropdown"><a href="javascript:void(0)"><i class="material-icons">add_circle_outline</i> Cadastro</a>
        <div class="dropdown-content-cadastros">
          <a href="#" class="botao_abrir_popups">Aula</a>
          <a href="#" class="botao_abrir_popups">Notícia</a>
        </div>
      </li>
      <li><a href="consultas"><i class="material-icons">format_list_bulleted</i> Consultas</a></li>
    </li>
    <li class="dropdown botao_login"><a href="javascript:void(0)"><i class="material-icons">account_circle</i></a>
      <div class="dropdown-content-cadastros">
        <h2>LOGIN</h2>

        <form method="POST" action="#">
          <input type="text" name="entrada_login_usuario" placeholder="Insira seu usuário" size="13"/>
          <br><br>
          <input type="password" name="entrada_login_senha" placeholder="Insira sua senha" size="13"/>
          <strong>
            <br>
            <a class="tag_a_esqueci_senha botao_abrir_popups" href="#">Esqueci minha senha</a>
          </strong>
          <br><br>
          <input type="submit" name="botaoEntrar" value="ENTRAR" class="botoes_form_cadastro"/>
          <br><br>
          <strong>
            Novo por aqui?
            <br>
            <a href="#" class="botao_abrir_popups">Cadastre-se</a>
          </strong>
        </form>

      </div>
    </li>
    <li style="float:right;"><a class="botao_ajuda" href="ajuda"><i class="material-icons">help_outline</i> Ajuda</a></li>
    <li class="li_entrada_pesquisa">
      <b>
        <input type="text" name="entrada_pesquisa" placeholder="Pesquisar"/>
        <button type="submit"><i class="material-icons">search</i></button>
        <strong> Filtros </strong>
        <select>
          <optgroup label ="Filtrar por"> </optgroup>
          <optgroup label = "Sem filtros">
            <option value = "filtro_nenhum_filtro" > Nenhum Filtro </option>
          </optgroup>
          <optgroup label ="Data">
            <option value = "filtro_data_mais_antigo" > Mais Antigos </option>
            <option value = "filtro_data_ultimas_publicacoes" > Últimas publicações </option>
          </optgroup>
          <optgroup label = "Conteúdo">
            <option value = "filtro_imagens" > Imagens </option>
            <option value = "filtro_videos" > Vídeos </option>
            <option value = "filtro_textos"> Textos </option>
          </optgroup>
        </select>
      </b>
    </li>
  </ul>
</nav>
<br>

{% block content %}

{% endblock %}

{{aulaaa.titulo}}

<aside>
  <fieldset>
    <legend> Notícias </legend>

    <!-- AQUI VAI TER QUE FAZER UM FOR DE TAMANHO X PRA LISTAR AS NOTÍCIAS -->

    <div class="noticia_content_aside">
      <img src="{% static 'imagens/em_construcao.png' %}" alt="#" class="imagem_noticia_aside">
      <a href="#" class="titulo_noticia_aside">Título Teste da Notícia</a>
      <div class="resumo_noticia_aside">
        Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside. Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside.
      </div>
    </div>

    <div class="noticia_content_aside">
      <img src="{% static 'imagens/em_construcao.png' %}" alt="#" class="imagem_noticia_aside">
      <a href="#" class="titulo_noticia_aside">Segundo Título de Teste da Notícia</a>
      <div class="resumo_noticia_aside">
        Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside. Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside.
      </div>
    </div>

    <div class="noticia_content_aside">
      <img src="{% static 'imagens/em_construcao.png' %}" alt="#" class="imagem_noticia_aside">
      <a href="#" class="titulo_noticia_aside">Outro Título Teste da Notícia</a>
      <div class="resumo_noticia_aside">
        Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside. Esse é um texto de exemplo de como seria o resumo de uma notícia dentro
        do aside.
      </div>
    </div>

  </fieldset>
</aside>

<!-- [0] POPUPS DA OPÇÃO CADASTRO DO NAVBAR (Cadastro > Aula / Notícia) -->
<div id="popup_cadastrar_aula" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Cadastrar Aula</h2>
    </div>
    <div class="modal-body">
      <p>O form do cadastro de aula vai aqui</p>
    </div>
    <div class="modal-footer">
      <input type="reset" name="botaoResetar" value="LIMPAR" class="botoes_form_cadastro"/>
      <input type="submit" name="botaoSalvar" value="SALVAR" class="botoes_form_cadastro"/>
    </div>
  </div>
</div>
<!-- [1] -->
<div id="popup_cadastrar_noticia" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Cadastrar Notícia</h2>
    </div>
    <div class="modal-body">
      <p>O form do cadastro de noticia vai aqui</p>
    </div>
    <div class="modal-footer">
      <input type="reset" name="botaoResetar" value="LIMPAR" class="botoes_form_cadastro"/>
      <input type="submit" name="botaoSalvar" value="SALVAR" class="botoes_form_cadastro"/>
    </div>
  </div>
</div>

<!-- [2] POPUP PARA RECUPERAÇÃO DE SENHA (Icon Login > Esqueci minha senha) -->
<div id="popup_esqueci_senha" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Recuperação de Senha</h2>
    </div>
    <div class="modal-body">
      <form method="post" action="recuperarsenha">

        <p>O form da recuperação de senha vai aqui. <br>Ex: e-mail para enviar link para o template para cadastrar a nova senha
          <br><br>link: http://127.0.0.1:8000/recuperarsenha <br>(pode acessar, só colar na barra de pesquisa)
        </p>
      </div>
      <div class="modal-footer">
        <input type="submit" name="botaoCadastrar" value="ENVIAR" class="botoes_form_cadastro"/>
      </div>

    </form>
  </div>
</div>

<!-- [3] POPUP PARA CADASTRO DE USUÁRIO (Icon Login > Cadastre-se) -->
<div id="popup_cadastre-se" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Cadastre-se</h2>
    </div>
    <div class="modal-body">
      <p>O form do cadastro do usuário comum vai aqui</p>
    </div>
    <div class="modal-footer">
      <input type="reset" name="botaoResetar" value="LIMPAR" class="botoes_form_cadastro"/>
      <input type="submit" name="botaoCadastrar" value="CADASTRAR" class="botoes_form_cadastro"/>
    </div>
  </div>
</div>

<!-- JAVASCRIPT DAS ANIMAÇÕES DO NAVBAR -> POPUPS E DROPDOWNS -->
<script>
// Get the modal
var popupCadastros = document.getElementsByClassName("modal");

// Get the button that opens the modal
var botao_abrir_popups = document.getElementsByClassName("botao_abrir_popups");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

// When the user clicks the button, open the modal
botao_abrir_popups[0].onclick = function() {
  popupCadastros[0].style.display = "block";
}

botao_abrir_popups[1].onclick = function() {
  popupCadastros[1].style.display = "block";
}

botao_abrir_popups[2].onclick = function() {
  popupCadastros[2].style.display = "block";
}

botao_abrir_popups[3].onclick = function() {
  popupCadastros[3].style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span[0].onclick = function() {
  popupCadastros[0].style.display = "none";
}

span[1].onclick = function() {
  popupCadastros[1].style.display = "none";
}

span[2].onclick = function() {
  popupCadastros[2].style.display = "none";
}

span[3].onclick = function() {
  popupCadastros[3].style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == popupCadastros) {
    popupCadastros.style.display = "none";
  }
}
</script>

</body>
</html>
